<section id="home">
    <div class="jumbotron">
        <div class="d-flex justify-content-center">
            <img id="logo" src="logo.png" alt="">
        </div>
        <h1 class="text-center">8gag, totally original</h1>
        <ul class="d-flex flex-column align-items-center">
            <li><a href="/login"> <i class="fas fa-user-circle"> </i> login</a></li>
            <li><a href="/register"><i class="fas fa-user-plus"></i> register</a></li>
            <li><a href="/browse"><i class="fas fa-image"></i> browse memes</a></li>
        </ul>
    </div>
</section>
