<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <title>8gag</title>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <%- include('partials/home'); %>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script type="module" src="javascript/main.js"></script>
</body>

</html>
